<div class="container">
  <h4>{{ gym.name }}</h4>
  <form (ngSubmit)="updateGym()" #gymEditForm="ngForm">
    <div class="row">
      <div class="col">
        <label for="name">Nazwa</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="gym.name"
          name="name" #name="ngModel"
          required
          maxlength="50"
        />
        <p [hidden]="(name.untouched) || (name.touched && name.valid)" class="alert alert-danger">Błąd danych</p>
      </div>
      <div class="col">
        <label for="capacity">Maksymalna liczba ćwiczących</label>
        <input
          type="number"
          class="form-control"
          id="capacity"
          [(ngModel)]="gym.capacity"
          name="capacity" #capacity="ngModel"
          required
          min="1"
        />
        <p [hidden]="(capacity.untouched) || (capacity.touched && capacity.valid)" class="alert alert-danger">Błąd danych</p>
      </div>
    </div>
    <br/>
    <h4>Adres: </h4>
    <div class="row">
      <div class="col">
        <label for="country">Kraj</label>
        <input
          type="text"
          class="form-control"
          id="country"
          [(ngModel)]="gym.address.country"
          name="country" #country="ngModel"
          required
          maxlength="50"
        />
        <p [hidden]="(country.untouched) || (country.touched && country.valid)" class="alert alert-danger">Błąd danych</p>
      </div>
      <div class="col">
        <label for="city">Miasto</label>
        <input
          type="text"
          class="form-control"
          id="city"
          [(ngModel)]="gym.address.city"
          name="city" #city="ngModel"
          required
          maxlength="50"
        />
        <p [hidden]="(city.untouched) || (city.touched && city.valid)" class="alert alert-danger">Błąd danych</p>
      </div>
      <div class="col">
        <label for="postalCode">Kod pocztowy</label>
        <input
          type="text"
          class="form-control"
          id="postalCode"
          [(ngModel)]="gym.address.postalCode"
          name="postalCode" #postalCode="ngModel"
          required
          maxlength="50"
        />
        <p [hidden]="(postalCode.untouched) || (postalCode.touched && postalCode.valid)" class="alert alert-danger">Błąd danych</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="street">Ulica</label>
        <input
          type="text"
          class="form-control"
          id="street"
          [(ngModel)]="gym.address.street"
          name="street" #street="ngModel"
          required
          maxlength="50"
        />
        <p [hidden]="(street.untouched) || (street.touched && street.valid)" class="alert alert-danger">Błąd danych</p>
      </div>
      <div class="col">
        <label for="buildingNumber">Numer budynku</label>
        <input
          type="text"
          class="form-control"
          id="buildingNumber"
          [(ngModel)]="gym.address.buildingNumber"
          name="buildingNumber" #buildingNumber="ngModel"
          required
          maxlength="50"
        />
        <p [hidden]="(buildingNumber.untouched) || (buildingNumber.touched && buildingNumber.valid)" class="alert alert-danger">Błąd danych</p>
      </div>
    </div>
    <br/>
    <div class="alert alert-danger" *ngIf="!gymEditForm.form.valid">
      Popraw błędne pola formularza
    </div>
    <button class="btn btn-success"
            type="submit"
            [disabled]="!gymEditForm.form.valid">
      Aktualizuj
    </button>
  </form>
  <button class="btn btn-danger" (click)="delete()">Usuń</button>
  <a class="btn btn-primary" routerLink="/gyms">Wróć do listy</a>
</div>
