<div class="card mb-3" [style]="'background-color: ' + color + ';'">
  <div class="row g-0">
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{ activity.definition.name }}</h5>
        <span><strong>Data</strong></span> <br/>
        <span>{{ activity.startTime | date: 'dd.MM.yyyy HH:mm'}} - {{ activity.endTime | date: 'HH:mm'}}</span><br/>
        <span><strong>Opis</strong>: {{ activity.definition.description }}</span><br/>
        <span><strong>Poziom trudności</strong>: {{ activity.definition.level | levelPipe}}</span><br/>
        <span><strong>Trener</strong>: {{ activity.trainer.firstName + ' ' + activity.trainer.lastName}}</span><br/>
        <span *ngIf="this.activity.status === status.CREATED"><strong>Wolne miejsca</strong>: {{ activity.capacity - activity.participants.length }}</span><br/><br/>
        <div class="container" *ngIf="userService.isOwnerOrEmployee() && this.activity.status === status.CREATED">
          <h6 class="card-title">Panel sterowania</h6>
          <a class="btn btn-primary" routerLink="/timetable/activity/{{ gymId }}/{{ timetableId }}/{{ activity.id }}">Edytuj</a>
        </div>
      </div>
    </div>
    <div class="col-md-4" *ngIf="gymId">
      <div class="card-body">
        <h5 class="card-title">Dostępne akcje</h5>
        <div class="container" *ngIf="this.activity.status === status.CREATED">
          <div *ngIf="canPersonJoinActivity()">
            <button class="btn btn-success"
                    (click)="joinActivity()">Zapisz się
            </button>
          </div>
          <div *ngIf="canPersonResignFromActivity()">
            <button class="btn btn-danger"
                    (click)="resignFromActivity()">Wypisz się
            </button>
          </div>
        </div>
        <div class="container" *ngIf="userService.isOwnerOrEmployee() && this.activity.status !== status.CANCELLED">
          <div><a class="btn btn-primary" routerLink="/timetable/activity/{{this.gymId}}/{{ this.timetableId }}/{{this.activity.id}}/attendance">Panel potwierdzania obecności</a></div>
        </div>
      </div>
    </div>
  </div>
  <div [ngSwitch]="activity.status" class="text-center">
    <div *ngSwitchCase="status.CREATED">Zajęcia zaplanowane</div>
    <div *ngSwitchCase="status.IN_PROGRESS">Zajęcia w trakcie</div>
    <div *ngSwitchCase="status.FINISHED">Zajęcia zakończone</div>
    <div *ngSwitchCase="status.CANCELLED">Zajęcia anulowane</div>
  </div>
  <div *ngIf="canPersonResignFromActivity() && this.gymId" class="text-center">Jesteś zapisany na te zajęcia!</div>
</div>
