<div class="container">
  <h4>Edycja aktywności</h4>
  <form (ngSubmit)="updateDefinition()" #definitionEditForm="ngForm">
    <div class="row">
      <div class="col">
        <label for="name">Nazwa</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="definition.name"
          name="name" #name="ngModel"
          required
          maxlength="50"
          [ngClass]="{'is-invalid': (name.touched || name.dirty) && !name.valid }"
        />
        <span class="invalid-feedback"> <br/>
        <span *ngIf="name.hasError('required')" class="alert alert-danger">
                Pole wymagane
        </span>
        </span>
      </div>
      <div class="col">
        <label for="description">Opis</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="definition.description"
          name="description" #description="ngModel"
          required
          maxlength="100"
          [ngClass]="{'is-invalid': (description.touched || description.dirty) && !description.valid }"
        />
        <span class="invalid-feedback"> <br/>
        <span *ngIf="description.hasError('required')" class="alert alert-danger">
                Pole wymagane
        </span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="level">Poziom trudności</label>
        <select class="form-control"
                id="level"
                [(ngModel)]="definition.level"
                name="type"
                #level="ngModel"
                required
                [ngClass]="{'is-invalid': level.touched && !level.valid }"
        >
          <option *ngFor="let level of levels" [value]="level.value">{{ level.value | levelPipe }}</option>
        </select>
        <span class="invalid-feedback"> <br/>
        <span *ngIf="level.hasError('required')" class="alert alert-danger">
                Pole wymagane
        </span>
        </span>
      </div>
    </div>
    <br/>
    <div class="alert alert-danger" *ngIf="!definitionEditForm.form.valid">
      Popraw błędne pola formularza
    </div>
    <button class="btn btn-success"
            type="submit"
            [disabled]="!definitionEditForm.form.valid">
      Aktualizuj
    </button>
  </form>
  <button class="btn btn-danger" (click)="delete()" disabled>Usuń</button>
  <a class="btn btn-primary" routerLink="/timetable/activityDefinitions">Wróć do listy</a>
</div>
