<div class="container">
  <h4>{{ definition.name }}</h4>
  <form (ngSubmit)="updateDefinition()" #definitionEditForm="ngForm">
    <div class="row">
      <div class="col">
        <label for="name">Nazwa</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="definition.name"
          name="name" #name="ngModel"
          required
          maxlength="50"
        />
        <p [hidden]="(name.untouched) || (name.touched && name.valid)" class="alert alert-danger">Błąd danych</p>
      </div>
      <div class="col">
        <label for="description">Opis</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="definition.description"
          name="description" #description="ngModel"
          required
          min="1"
        />
        <p [hidden]="(description.untouched) || (description.touched && description.valid)" class="alert alert-danger">Błąd danych</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="level">Typ</label>
        <select class="form-control"
                id="level"
                [(ngModel)]="definition.level"
                name="type"
                #level="ngModel"
                required
        >
          <option *ngFor="let level of levels" [value]="level.value">{{ level.value | levelPipe }}</option>
        </select>
        <p [hidden]="(level.untouched) || (level.touched && level.valid)" class="alert alert-danger">Błąd danych</p>
      </div>
    </div>
    <br/>
    <div class="alert alert-danger" *ngIf="!definitionEditForm.form.valid">
      Popraw błędne pola formularza
    </div>
    <button class="btn btn-success"
            type="submit"
            [disabled]="!definitionEditForm.form.valid">
      Aktualizuj
    </button>
  </form>
  <button class="btn btn-danger" (click)="delete()">Usuń</button>
  <a class="btn btn-primary" routerLink="/timetable/activityDefinitions">Wróć do listy</a>
</div>
