<div class="container">
  <h4>Dodawanie nowej definicji aktywności</h4>
  <form (ngSubmit)="saveDefinition()" #definitionAddForm="ngForm">
    <div class="row">
      <div class="col">
        <label for="name">Nazwa</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="definitionCommand.name"
          name="name" #name="ngModel"
          required
          maxlength="50"
        />
        <p [hidden]="(name.untouched) || (name.touched && name.valid)" class="alert alert-danger">Błąd danych</p>
      </div>
      <div class="col">
        <label for="description">Opis</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="definitionCommand.description"
          name="description" #description="ngModel"
          required
          min="1"
        />
        <div [hidden]="(description.untouched) || (description.touched && description.valid)" class="alert alert-danger">Błąd danych</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="level">Poziom trudności</label>
        <select class="form-control"
                id="level"
                [(ngModel)]="definitionCommand.level"
                name="level"
                #level="ngModel"
                required
        >
          <option *ngFor="let level of levels" [value]="level.value">{{ level.value | levelPipe }}</option>
        </select>
        <p [hidden]="(level.untouched) || (level.touched && level.valid)" class="alert alert-danger">Błąd danych</p>
      </div>
    </div>
    <br/>
    <div class="alert alert-danger" *ngIf="!definitionAddForm.form.valid">
      Wypełnij wszystkie wymagane dane
    </div>
    <button class="btn btn-success"
            type="submit"
            [disabled]="!definitionAddForm.form.valid">
      Zapisz
    </button>
  </form>
</div>
