<div class="container">
  <h4>{{ definition.name }}</h4>
  <form (ngSubmit)="updateDefinition()" #definitionEditForm="ngForm">
    <div class="row">
      <div class="col">
        <label for="name">Nazwa</label>
        <input
          type="text"
          class="form-control"
          id="name"
          [(ngModel)]="definition.name"
          name="name" #name="ngModel"
          required
          maxlength="50"
          [ngClass]="{'is-invalid': (name.touched || name.dirty) && !name.valid }"
        />
        <span class="invalid-feedback"> <br/>
        <span *ngIf="name.hasError('required')" class="alert alert-danger">
                Pole wymagane
        </span>
        </span>
      </div>
      <div class="col">
        <label for="description">Opis</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="definition.description"
          name="description" #description="ngModel"
          required
          maxlength="100"
          [ngClass]="{'is-invalid': (description.touched || description.dirty) && !description.valid }"
        />
        <span class="invalid-feedback"> <br/>
        <span *ngIf="description.hasError('required')" class="alert alert-danger">
                Pole wymagane
        </span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="type">Typ</label>
        <select class="form-control"
                id="type"
                [(ngModel)]="definition.type"
                name="type"
                #type="ngModel"
                required
                [ngClass]="{'is-invalid': type.touched && !type.valid }"
        >
          <option *ngFor="let type of equipmentTypes" [value]="type.value">{{ type.value | equipmentTypePipe }}</option>
        </select>
        <span class="invalid-feedback"> <br/>
        <span *ngIf="type.hasError('required')" class="alert alert-danger">
                Pole wymagane
        </span>
        </span>
      </div>
      <div class="col">
        <label for="purpose">Cel</label>
        <select class="form-control"
                id="purpose"
                [(ngModel)]="definition.purpose"
                name="purpose"
                #purpose="ngModel"
                required
                [ngClass]="{'is-invalid': purpose.touched && !purpose.valid }"
        >
          <option *ngFor="let purpose of purposes" [value]="purpose.value">{{ purpose.value | purposePipe }}</option>
        </select>
        <span class="invalid-feedback"> <br/>
        <span *ngIf="purpose.hasError('required')" class="alert alert-danger">
                Pole wymagane
        </span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="weight">Waga (kg)</label>
        <input
          type="number"
          class="form-control"
          id="weight"
          [(ngModel)]="definition.weight"
          name="weight" #weight="ngModel"
          min="0.25"
          [ngClass]="{'is-invalid': (weight.touched || weight.dirty) && !weight.valid }"
        />
        <span class="invalid-feedback"> <br/>
        <span *ngIf="weight.hasError('required')" class="alert alert-danger">
                Pole wymagane
        </span>
        <span *ngIf="weight.hasError('min')" class="alert alert-danger">
                Minimalna wartość to 0.25
        </span>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <label for="aimedBodyParts">Trenowane części ciała</label>
        <select class="form-control"
                id="aimedBodyParts"
                [(ngModel)]="definition.aimedBodyParts"
                name="aimedBodyParts"
                #aimedBodyParts="ngModel"
                required
                multiple
                [ngClass]="{'is-invalid': aimedBodyParts.touched && !aimedBodyParts.valid }"
        >
          <option *ngFor="let bodyPart of bodyParts" [value]="bodyPart.value">{{ bodyPart.value | bodyPartPipe }}</option>
        </select>
        <span class="invalid-feedback"> <br/>
        <span *ngIf="aimedBodyParts.hasError('required')" class="alert alert-danger">
                Pole wymagane
        </span>
        </span>
      </div>
    </div>
    <br/>
    <div class="alert alert-danger" *ngIf="!definitionEditForm.form.valid">
      Popraw błędne pola formularza
    </div>
    <button class="btn btn-success"
            type="submit"
            [disabled]="!definitionEditForm.form.valid">
      Aktualizuj
    </button>
  </form>
  <button class="btn btn-danger" (click)="delete()" disabled>Usuń</button>
  <a class="btn btn-primary" routerLink="/assortment/equipmentDefinitions">Wróć do listy</a>
</div>
